.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.active {
  background: whitesmoke;
}
.spinner-center {
  margin-left: 40%;
  margin-top: 20%;
}
.move-right {
  margin-left: auto;
}
.icon-space {
  padding-right: 3px;
}
.page-head {
  width: 100%;
  text-align: center;
}
.name_head
{
  justify-content: center;
  min-height: 10px;
  font-size: 12px;
  height: 32px;
}
.footer {
  min-height: 20px;
}
