<app-form-view [title]="head" *ngIf="!editPassword">
  <div class="main-form">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Enter your First name" formControlName="firstName" required>
          <mat-error *ngIf="!(f.firstName.valid && f.firstName.touched)">
            First Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your Last Name" formControlName="lastName" required>
          <mat-error *ngIf="!(f.lastName.valid && f.lastName.touched)">
              Last Name is required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input id="email" matInput placeholder="Enter your email" formControlName="email" required>
           <mat-error *ngIf="!(f.email.valid && f.email.touched)">
            Please enter correct email format
          </mat-error>
        </mat-form-field>
      <mat-form-field>
    <mat-select aria-label="Select an option" formControlName="gender" required>
        <mat-option value="1" >Male</mat-option>
        <mat-option value="2" >Female</mat-option>
    </mat-select>
    <mat-label>Select your Gender</mat-label>
    <mat-error *ngIf="!(f.gender.valid && f.gender.touched)">
        Gender is required
      </mat-error>
  </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Enter your location" formControlName="location" required>
          <mat-error *ngIf="!(f.location.valid && f.location.touched)">
            Location is required
          </mat-error>
        </mat-form-field>
      <div>
        <mat-form-field>
          <input matInput placeholder="Enter your website" formControlName="website">
          <mat-error *ngIf="!(f.website.valid && f.website.touched)">
            required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="btn-div">
        <button class="btn-pad" type="submit" [disabled]="!profileForm.valid" mat-flat-button
          color="primary">Submit</button>
        <button class="btn-pad" type="button" (click)="delete()" mat-flat-button color="primary">Delete</button>
        <button type="button" (click)="updatePassword()" mat-flat-button color="primary">Update Password</button>
      </div>
    </form>
  </div>
</app-form-view>
<app-form-view [title]="head2" *ngIf="editPassword">
  <div class="main-form">
    <form [formGroup]="passwordForm">
      <div>
        <mat-form-field>
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter your Old Password"
            formControlName="oldPassword" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide" required>
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="!(f2.oldPassword.valid && f2.oldPassword.touched)">
            Old Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input [type]="hide ? 'password' : 'text'" matInput placeholder="Enter your New Password"
            formControlName="newPassword">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="!(f2.newPassword.valid && f2.newPassword.touched)">
            New Password is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="btn-div">
        <button class="btn-pad" (click)="changePassword()" type="submit" [disabled]="!passwordForm.valid"
          mat-flat-button color="primary">Update Password</button>
        <button type="button" (click)="updatePassword()" mat-flat-button color="primary">Back</button>
      </div>
    </form>
  </div>
</app-form-view>
