<app-form-view [title]="value" *ngIf="!editPassword">
    <div class="main-form">
          <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div>
            <mat-form-field >
              <input   matInput placeholder="Enter your firstName" formControlName="firstName">
              <mat-error *ngIf="!(f.firstName.valid && f.firstName.touched)">
                required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
              <mat-form-field >
                <input   matInput placeholder="Enter your lastName" formControlName="lastName">
                <mat-error *ngIf="!(f.lastName.valid && f.lastName.touched)">
                  required
                </mat-error>
              </mat-form-field>
            </div>
        <div>
            <mat-form-field>
              <input matInput placeholder="Enter your email" formControlName="email">
              <mat-error *ngIf="!(f.email.valid && f.email.touched)">
                required
              </mat-error>
            </mat-form-field>
          </div>
          <div>
              <mat-form-field>
                <input matInput placeholder="Enter your gender" formControlName="gender">
                <mat-error *ngIf="!(f.gender.valid && f.gender.touched)">
                  required
                </mat-error>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                  <input matInput placeholder="Enter your location" formControlName="location">
                  <mat-error *ngIf="!(f.location.valid && f.location.touched)">
                    required
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                  <mat-form-field>
                    <input matInput placeholder="Enter your website" formControlName="website">
                    <mat-error *ngIf="!(f.website.valid && f.website.touched)">
                      required
                    </mat-error>
                  </mat-form-field>
                </div>
            <button type="submit" [disabled]="!profileForm.valid" mat-flat-button color="primary">Submit</button>
            <button type="button" (click)="delete()" mat-flat-button color="primary">Delete</button>
            <button type="button" (click)="updatePassword()" mat-flat-button color="primary">Update Password</button>
          </form>
        </div>
   </app-form-view>
   <app-form-view [title]="value" *ngIf="editPassword">
      <div class="main-form">
            <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
              <div>
              <mat-form-field >
                <input   matInput placeholder="Enter your oldPassword" formControlName="oldPassword">
                <mat-error *ngIf="!(f2.oldPassword.valid && f2.oldPassword.touched)">
                  required
                </mat-error>
              </mat-form-field>
            </div>
            <div>
                <mat-form-field >
                  <input   matInput placeholder="Enter your newPassword" formControlName="newPassword">
                  <mat-error *ngIf="!(f2.newPassword.valid && f2.newPassword.touched)">
                    required
                  </mat-error>
                </mat-form-field>
              </div>

                  <button type="submit" [disabled]="!passwordForm.valid" mat-flat-button color="primary">Update Password</button>
                  <button type="button" (click)="updatePassword()" mat-flat-button color="primary">Back</button>
            </form>
          </div>
     </app-form-view>

