<app-form-view [title]="head">
    <div class="main-form">
<mat-card class="example-card" *ngIf="blogReg.blogName">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{blogReg.blogName}}</mat-card-title>
      <mat-card-subtitle>{{blogReg.blogName}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <div>
          {{blogDisplay.blogHeading}}
          <div [innerHTML]="blogDisplay.details"></div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button (click)="next()">Next</button>
    </mat-card-actions>
  </mat-card>
    </div>
</app-form-view>
