<app-form-view [title]="head">
  <div class="main-form">
    <div class="ln-div" *ngIf="profile?.firstName || profile?.lastName">
      <span class="name-head">{{profile.firstName}} {{profile.lastName}}</span>
    </div>
    <div class="ln-div" *ngIf="profile?.email">
      <span class="email-Id">{{profile.email}}</span>
    </div>
    <div class="ln-div" *ngIf="profile?.website">
      <span class="email-Id">{{profile.website}}</span>
    </div>
    <div class="ln-div" *ngIf="profile?.gender">
      <span class="name-bottom"> Gender : {{profile.gender}}</span>
    </div>
    <div class="ln-div" *ngIf="profile?.location">
      <span class="name-bottom">Location : {{profile.location}}</span>
    </div>
    <div class="btn-div">
      <button mat-fab (click)="moveToEdit()" mat-button color="primary">Edit</button>
    </div>
  </div>

</app-form-view>
