<app-form-view [title]="head">
    <div class="main-form">
<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-horizontal-stepper linear #stepper *ngIf="showPage">
  <mat-step [stepControl]="registerFormGroup1" [editable]="isEditable">
    <form [formGroup]="registerFormGroup1">
      <ng-template matStepLabel>Fill out your name</ng-template>

      <mat-form-field>
          <input matInput placeholder="blogId" formControlName="blogId" required>
          <mat-error *ngIf="!(f.blogId.valid && f.blogId.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="blogName" formControlName="blogName" required>
          <mat-error *ngIf="!(f.blogName.valid && f.blogName.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="category" formControlName="category" required>
          <mat-error *ngIf="!(f.category.valid && f.category.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="author" formControlName="author" required>
          <mat-error *ngIf="!(f.author.valid && f.author.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="detail" formControlName="detail" required>
            <mat-error *ngIf="!(f.detail.valid && f.detail.touched)">
              Username is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="tags" formControlName="tags" required>
              <mat-error *ngIf="!(f.tags.valid && f.tags.touched)">
                Username is Required
              </mat-error>
            </mat-form-field>
        <div>
            <button mat-button (click)="goForward(stepper)" type="button">Next</button>
        <!-- <button mat-button matStepperNext>Next</button> -->
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="registerFormGroup2" [editable]="isEditable">
    <form [formGroup]="registerFormGroup2">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
          <input matInput placeholder="blogHeading" formControlName="blogHeading" required>
          <mat-error *ngIf="!(f2.blogHeading.valid && f2.blogHeading.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="details" formControlName="details" required>
          <mat-error *ngIf="!(f2.details.valid && f2.details.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <!-- <mat-form-field>
          <input matInput placeholder="tags" formControlName="tags" required>
          <mat-error *ngIf="!(f2.tags.valid && f2.tags.touched)">
            Username is Required
          </mat-error>
        </mat-form-field> -->
        <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button (click)="onSubmit()">Submit</button>
      <button mat-button (click)="showPage=!showPage">New Page</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
   <form [formGroup]="formGroup" *ngIf="!showPage">
      <mat-horizontal-stepper  formArrayName="form">
      <mat-step [formGroupName]="i" *ngFor="let customerGroup of formGroup.controls.form.controls; let i = index">
        <ng-template matStepLabel>Step {{i + 1}}</ng-template>
        <mat-form-field>
            <input matInput placeholder="blogHeading" formControlName="blogHeading" required>
            <mat-error *ngIf="!(f2.blogHeading.valid && f2.blogHeading.touched)">
              Username is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="details" formControlName="details" required>
            <mat-error *ngIf="!(f2.details.valid && f2.details.touched)">
              Username is Required
            </mat-error>
          </mat-form-field>
          <!-- <mat-form-field>
            <input matInput placeholder="tags" formControlName="tags" required>
            <mat-error *ngIf="!(f2.tags.valid && f2.tags.touched)">
              Username is Required
            </mat-error>
            </mat-form-field> -->
      <div>
          <button mat-button  (click)="addItem()">New Page</button>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
        <button mat-button (click)="onSubmit()">Submit</button>
      </div>
      </mat-step>
    </mat-horizontal-stepper>
  </form>

</div>
</app-form-view>
