<app-form-view [title]="head">
    <div class="main-form">
        <!-- <div formArrayName="items"
        *ngFor="let item of orderForm.get('items').controls; let i = index;">
        <div [formGroupName]="i">
          <input formControlName="name" placeholder="Item name">
          <input formControlName="description" placeholder="Item description">
          <input formControlName="price" placeholder="Item price">
        </div>

        Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}
      </div>
      <button (click)="addItem()">Test</button> -->
<button mat-raised-button (click)="isEditable = !isEditable">
  {{!isEditable ? 'Enable edit mode' : 'Disable edit mode'}}
</button>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="registerFormGroup1" [editable]="isEditable">
    <form [formGroup]="registerFormGroup1">
      <ng-template matStepLabel>Fill out your name</ng-template>

      <mat-form-field>
          <input matInput placeholder="blogId" formControlName="blogId" required>
          <mat-error *ngIf="!(f.blogId.valid && f.blogId.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="blogName" formControlName="blogName" required>
          <mat-error *ngIf="!(f.blogName.valid && f.blogName.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="category" formControlName="category" required>
          <mat-error *ngIf="!(f.category.valid && f.category.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="author" formControlName="author" required>
          <mat-error *ngIf="!(f.author.valid && f.author.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <div>
            <button mat-button (click)="goForward(stepper)" type="button">Next</button>
        <!-- <button mat-button matStepperNext>Next</button> -->
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="registerFormGroup2" [editable]="isEditable">
    <form [formGroup]="registerFormGroup2">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
          <input matInput placeholder="blogHeading" formControlName="blogHeading" required>
          <mat-error *ngIf="!(f2.blogHeading.valid && f2.blogHeading.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="details" formControlName="details" required>
          <mat-error *ngIf="!(f2.details.valid && f2.details.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="tags" formControlName="tags" required>
          <mat-error *ngIf="!(f2.tags.valid && f2.tags.touched)">
            Username is Required
          </mat-error>
        </mat-form-field>
        <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="orderForm" [editable]="isEditable">
      <form [formGroup]="orderForm">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field>
            <input matInput placeholder="customerName" formControlName="customerName" required>
            <mat-error *ngIf="!(f3.customerName.valid && f3.customerName.touched)">
              Username is Required
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="email" formControlName="email" required>
            <mat-error *ngIf="!(f3.email.valid && f3.email.touched)">
              Username is Required
            </mat-error>
          </mat-form-field>
          <div formArrayName="items"
          *ngFor="let item of orderForm.get('items').controls; let i = index;">
          <div [formGroupName]="i">
            <input formControlName="name" placeholder="Item name">
            <input formControlName="description" placeholder="Item description">
            <input formControlName="price" placeholder="Item price">
          </div>

          Chosen name: {{ orderForm.controls.items.controls[i].controls.name.value }}
        </div>
          <div>
          <button mat-button matStepperPrevious (click)="addItem()">Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button (click)="onSubmit()">Submit</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>
</app-form-view>
