/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,body
{
    height: 100%;
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.mat-form-field {
  width: 100%
}

.btn-div {
  //  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #4156b5;
  animation: spinner .8s linear infinite;
}
